/*declarar todas as tags aqui*/

/*
    IMPORTANTE!
    FONTES:

    regular - 400
    semibold - 600
*/

html    {
    scroll-behavior: smooth;
    scroll-padding: 10rem;
    background: #ffffff;
    font-family: 'Cabin', sans-serif;
}

h1  {
    font-weight: 600;
    font-size: 32px;
}

main h1 {
    margin-bottom: 4rem;
}

p   {
    font-weight: 400;
    font-size: 27px;
}

nav ul{
    list-style: none;
}

a   {
    text-decoration-line: none;
    color: black;
    transition-duration: 0.3s;
    padding: 0.5rem 1rem;
    margin-inline: 2rem;
    border-radius: 5px;
}

a:hover    {
    transition-duration: 0.3s;
    color: #ededed;
    background-color: #d0d0d0;
}

section {
    display: flex;
    justify-content: center;
    padding-inline: 8rem;
    padding-bottom: 5rem;
}

header  {
    position: sticky;
    top: 0;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    padding-block: 1rem;
    margin-bottom: 5rem;
}

header a    {
    font-weight: 400;
    font-size: 27px;
}

img {
    height: 360px;
}