/*declarar todas as id's e classes aqui*/

.logo  {
    display: flex;
    align-items: center;
}

.img-logo   {
    margin-right: 2rem;
    width: 4rem;
    height: 4rem;
}

.header-nav {
    display: flex;
    flex-direction: row;
}

.first-section  {
    display: flex;
    justify-content: space-evenly;
}

.first-section__box1 {
    margin-right: 3rem;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-section__list   {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}